body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  color: white;
  padding: 1rem;

  a {
    color: white;
    padding: 3px;
    margin: 0;
  }
}

#top-brands-link,
#suggestions-link,
#help-link,
#account-link {
  border-left: 1px solid white;
}

#account-link {
  border-right: 1px solid white;
}

main {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}

.main-search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;

  h1 {
    margin-left: 3rem;
    margin-right: 0;
  }
}

.search-bar input {
  width: 50vw;
}

.side-bar-and-product {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 4rem;

  a {
    background-color: blue;
    color: white;
    padding-right: 25px;
  }
}

.product-section {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 3;
  gap: 1rem;
}

.product-card {
  border: 1px solid black;
  width: 175px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 25% auto 10%;

  h3 {
    grid-row: 1;
    grid-column: 1 / span 3;
  }

  img {
    grid-row: 2;
    grid-column: 1 / span 3;
  }

  .product-description {
    grid-row: 3;
    grid-column: 1 / span 3;
    font-size: 9pt;
  }

  .product-price {
    grid-row: 4;
    grid-column: 1;
  }

  button {
    grid-row: 4;
    grid-column: 3;
  }
}

footer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
  background-color: blue;
  color: white;

  > section {
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: 20pt;
    text-decoration: underline;
    margin: 2px;
  }

  a {
    margin: 2px;
  }
}
